@model OryxAfrica.Models.Solution

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Solution</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @{ var base64 = Convert.ToBase64String(Model.Image);
                var imagesrc = string.Format("data:image/gif;base64,{0}", base64);
            }
            <img src="@imagesrc" style="max-width:100px; max-height:100px" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SolutionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
